h1 {
  color: blue;
}

p {
  font-style: normal;
  font-family: sans-serif;
}

body {
  background-color: grey;
}

img {
  width: 150px;
  border: 1px solid #ddd;
}


.column {
  float: left;
  width: 33.33%;
  border-color: white;
}

.row {

}
